body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin: 0px;
}

#main {
    margin: 8px;
}

.display-table {
    border-collapse: collapse;
    width: 100%;
}

.display-table tr {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.display-table tr:first-child {
    background-color: rgb(250, 250, 250);
}

.display-table tr:hover {
    background-color: rgb(250, 250, 250);;
}

.display-table td {
    height: 40px;
}

.edit-table {
    width: 100%;
}

.edit-table td:nth-child(odd) {
    text-align: right;
}

.edit-table td:nth-child(even) {
    text-align: left;
}

.out-box {
    /*width: 800px;*/
    border-radius: 2px;
    border: thin solid black;
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: left;
}

.out-box-hide {
    /*width: 800px;*/
    border-radius: 2px;
    border: thin solid white;
    width: 15px;
    height: 15px;
    cursor: auto;
    float: left;
}

.cross {
    margin-left:7px;
    margin-top: 3px;
    background:black;
    height:9px;
    position:relative;
    width:1px; 
    /*transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;*/
}
.cross:after {
    background:black;
    content: "";
    height: 1px;
    left: -4px;
    position: absolute;
    top:4px;
    width: 9px;
}
/*.shizijia:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}*/

.line {
    margin-left: 3px;
    margin-top: 7px;
    background:black;
    height:1px;
    position:relative;
    width:9px; 
}

.design-col {
    width: 5%;
    text-align: center;
}

.code-col {
    width: 20%;
}

.name-col {
    width: 20%;
}

.remark-col {
    width: 20%;
}

.can-link {
    color: rgb(45, 175, 200);
    cursor: pointer;
}

.header-tab {
    vertical-align: bottom;
    padding-top: 60px;
    font-size: 110%;
}

.header-tab-item {
    color: white;
    cursor: pointer;
    padding-bottom: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.header-tab-item:hover {
    color: rgb(82, 197, 217);
    border-bottom:2px solid;
}

.selected-header-tab-item {
    color: rgb(45, 175, 205);
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom:2px solid;
    margin-left: 20px;
    margin-right: 20px;
}

.selected-header-tab-item:hover {
    color: rgb(82, 197, 217);
}

#header {
    background-color: rgb(29,31,44);
    height: 85px;
}

#titles {
    font-size: 150%;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
    vertical-align: middle;
    float: left;
}

.link_tree_node
{
    cursor: pointer;    
}

.link_tree_node:hover 
{
    color: rgb(82, 197, 217);
}

#property_view
{
    display: table;
}

#tree_panel
{
    display: table-cell;
    vertical-align: top;
    width: 20%;
}

#element_type_tree
{
    margin: 4px;
}

#property_dict
{
    display: table-cell;
    width: 3000px;
}

.button
{
    background-color: rgb(45, 175, 205);
    border-radius: 4px;
    width: fit-content;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.button:hover
{
    background-color: rgb(82, 197, 217);
}
