<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
        爆炒江湖
    </title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="bcjh.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../layer/layer.js"></script>
    <script type="text/javascript" src="../common.js">
    </script>
    <script type="text/javascript" src="bcjh_data.js">
    </script>
    <script type="text/javascript" src="bcjh_common.js">
    </script>
    <script type="text/javascript" src="bcjh_skill.js">
    </script>
    <script type="text/javascript" src="../TableSorterV3.js">
    </script>
    <script type="text/javascript" src="vue_components.js">
    </script>
</head>

<body>
    <div id="bcjh">
        <a v-on:click="add_chef()" href="#">添加厨师</a>
        <a href="index.html">返回</a>
        <login-panel login-ref="..\login.html" v-on:give-user="load_chefs"></login-panel>
        <div>
            <input type="text" placeholder="装备" v-model="selected_equip" />
        </div>
        <div>数量: {{chefs.length}}</div>
        <table id="tb2">
            <tr>
                <td>ID</td>
                <td>名称</td>
                <td>级别</td>
                <td>稀有度</td>
                <td>炒</td>
                <td>蒸</td>
                <td>切</td>
                <td>炸</td>
                <td>煮</td>
                <td>烤</td>
                <td>鱼</td>
                <td>面</td>
                <td>菜</td>
                <td>肉</td>
                <td>技能</td>
                <td>终极技能</td>
                <td>装备</td>
                <td>编辑</td>
            </tr>
            <tr v-for="chef in chefs">
                <td>{{chef.id}}</td>
                <td>{{chef.name}}</td>
                <td>{{chef.level}}</td>
                <td>{{chef.rarity}}</td>
                <td>{{chef.stirfry}}</td>
                <td>{{chef.steam}}</td>
                <td>{{chef.knife}}</td>
                <td>{{chef.fry}}</td>
                <td>{{chef.boil}}</td>
                <td>{{chef.bake}}</td>
                <td>{{chef.fish}}</td>
                <td>{{chef.creation}}</td>
                <td>{{chef.veg}}</td>
                <td>{{chef.meat}}</td>
                <td>{{chef.skill_name()}}</td>
                <td style="white-space: pre-wrap;"
                    v-bind:class="{'chef-emphasize':(chef.ultimate_skill == null) && (chef.ultimate_skill_conditions.length>=3), 'emphasize-font':(chef.ultimate_skill == null) && (chef.ultimate_skill_conditions.length<3) && (chef.ultimate_skill_conditions2 != null) && chef.ultimate_skill_conditions2.length>=3}">{{chef.ultimate_skill_name()}}</td>
                <td>{{chef.equip_name()}}</td>
                <td>
                    <a v-on:click="edit_chef(chef)" class="link">修改</a>
                    <a v-if="chef.level<3" v-on:click="set_max_level(chef)" class="link">满级</a>
                    <a v-if="chef.ultimate_skill == null" v-on:click="set_ultimate_skill(chef)" class="link">终极技能</a>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        var app = new Vue(
            {
                el: '#bcjh',
                data: {
                    chefs: [],
                    recipes: null,
                    sorter: null,
                    selected_equip: "",
                },
                created: function () {
                },
                watch: {
                    selected_equip: function (val) {
                        var equip = get_equip_by_name(val);
                        if (equip == null) {
                            for (let i = 0; i < this.chefs.length; i++) {
                                const chef = this.chefs[i];
                                chef.ultimate_skill_conditions2 = null;
                            }
                            return;
                        }
                        var new_chefs = JSON.parse(JSON.stringify(this.chefs));
                        for (let i = 0; i < new_chefs.length; i++) {
                            const chef = new_chefs[i];
                            chef.equip_id = equip.equipId;
                        }
                        init_chefs(new_chefs);
                        for (let i = 0; i < this.chefs.length; i++) {
                            const chef = this.chefs[i];
                            var list = this.get_ultimate_skill_conditions(new_chefs[i], this.recipes);
                            chef.ultimate_skill_conditions2 = list;
                        }
                    },
                },
                methods: {
                    load_chefs: function (user_id) {
                        this.user_id = user_id;
                        var that = this;
                        do_ajax("../db/get_records.php?table_name=bcjh_chefs&user_id=" + user_id, function (text) {
                            var my_chefs = JSON.parse(text);
                            init_skills(g_bcjh_data.skills);
                            init_chefs(my_chefs);
                            do_ajax("../db/get_records.php?table_name=bcjh_recipes&user_id=" + user_id, function (text) {
                                var my_recipes = JSON.parse(text);
                                var new_recipes = build_recipes(g_bcjh_data.recipes, my_recipes, my_chefs);
                                that.chefs = my_chefs;
                                that.recipes = new_recipes;
                                that.init_ultimate_skill_conditions(new_recipes);
                                that.$nextTick(function () {
                                    that.sorter = new TableSorter("tb2");
                                });
                            });
                        });
                    },
                    get_ultimate_skill_conditions: function (chef, new_recipes) {
                        var cook = this.get_chef_max_cook(chef);
                        var list = [];
                        for (let j = 0; j < new_recipes.length; j++) {
                            const recipe = new_recipes[j];
                            if (recipe.rarity == chef.rarity && recipe[cook] > 0) {
                                var rate = calc_rate(recipe, chef);
                                if (rate >= 4) {
                                    list.push(recipe.name);
                                    if (list.length >= 3)
                                        break;
                                }
                            }
                        }
                        return list;
                    },
                    init_ultimate_skill_conditions: function (new_recipes) {
                        for (let i = 0; i < this.chefs.length; i++) {
                            const chef = this.chefs[i];
                            var list = this.get_ultimate_skill_conditions(chef, new_recipes);
                            chef.ultimate_skill_conditions = list;
                        }
                    },
                    get_chef_max_cook: function (chef) {
                        var cook = g_cook_types[0];
                        for (let i = 1; i < g_cook_types.length; i++) {
                            const cook_type = g_cook_types[i];
                            if (chef[cook_type] > chef[cook]) {
                                cook = cook_type;
                            }
                        }
                        return cook;
                    },
                    set_max_level: function (chef) {
                        var that = this;
                        do_ajax('../db/update_record.php?table_name=bcjh_chefs&primary_key=id|user_id&key_val=' + chef.id + "|" + that.user_id + "&" + this._build_chef_params(chef.name), function (text) {
                            that.load_chefs(that.user_id);
                        });
                    },
                    set_ultimate_skill: function (chef) {
                        var that = this;
                        do_ajax('../db/update_record.php?table_name=bcjh_chefs&primary_key=id|user_id&key_val=' + chef.id + "|" + that.user_id + "&" + this._build_chef_ultimate_params(chef.name), function (text) {
                            that.load_chefs(that.user_id);
                        });
                    },
                    add_chef: function () {
                        var that = this;
                        layer.prompt({ offset: '200px' },
                            function (val, index) {
                                //layer.msg('得到了' + val);
                                var chef = find_chef(val);
                                if (chef == null) {
                                    layer.msg("未找到厨师[" + val + "]");
                                    return;
                                }
                                layer.close(index);

                                var clone_chef = JSON.parse(JSON.stringify(chef));
                                clone_chef.level = 3;
                                clone_chef.skill_id = clone_chef.skill;
                                clone_chef.ultimate_skill_id = -1;
                                clone_chef.equip_id = -1;
                                clone_chef.id = clone_chef.chefId;
                                var url = "edit_chef.html?" + build_url_params([["record", JSON.stringify(clone_chef).replace(/\"/g, "'")]]);
                                layer.open({
                                    type: 2,
                                    btn: ['确定', '取消'],
                                    yes: function (index, layero) {
                                        //按钮【按钮一】的回调
                                        var body = layer.getChildFrame('body', index);
                                        var doc = body[0].ownerDocument;
                                        var e = doc.getElementById("chef_json");
                                        var new_chef = JSON.parse(e.value);
                                        var arr = [];
                                        for (let i = 0; i < g_edit_chef_schemas.length; i++) {
                                            const item = g_edit_chef_schemas[i];
                                            var value = new_chef[item.name];
                                            if (value == -1)
                                                value = "NULL";
                                            arr.push([item.name, value]);
                                        }
                                        arr.push(["table_name", "bcjh_chefs"]);
                                        arr.push(["user_id", that.user_id]);
                                        arr.push(["rarity", new_chef.rarity]);
                                        arr.push(["id", new_chef.id]);
                                        // db添加
                                        do_ajax("../db/insert_record.php?" + build_url_params(arr), function (text) {
                                            if (isNaN(text)) {
                                                layer.alert(text);
                                                return;
                                            }
                                            // ui添加
                                            that.load_chefs(that.user_id);
                                        });
                                        layer.close(index);
                                    },
                                    title: '新增',
                                    maxmin: false,
                                    area: ['530px', '490px'],
                                    content: url
                                });
                            });
                    },
                    edit_chef: function (chef) {
                        var that = this;
                        /*
                        var clone_chef = JSON.parse(JSON.stringify(chef));
                        clone_chef.level = 3;
                        clone_chef.id = clone_chef.chefId;
                        */
                        if (chef.skill_id == null)
                            chef.skill_id = -1;
                        if (chef.ultimate_skill_id == null)
                            chef.ultimate_skill_id = -1;
                        if (chef.equip_id == null)
                            chef.equip_id = -1;
                        var url = "edit_chef.html?" + build_url_params([["record", JSON.stringify(chef).replace(/\"/g, "'")]]);
                        layer.open({
                            type: 2,
                            btn: ['确定', '取消'],
                            yes: function (index, layero) {
                                //按钮【按钮一】的回调
                                var body = layer.getChildFrame('body', index);
                                var doc = body[0].ownerDocument;
                                var e = doc.getElementById("chef_json");
                                var new_chef = JSON.parse(e.value);
                                var arr = [];
                                for (let i = 0; i < g_edit_chef_schemas.length; i++) {
                                    const item = g_edit_chef_schemas[i];
                                    var value = new_chef[item.name];
                                    if (value == -1)
                                        value = "NULL";
                                    arr.push([item.name, value]);
                                }
                                arr.push(["rarity", new_chef.rarity]);
                                arr.push(["table_name", "bcjh_chefs"]);
                                arr.push(["primary_key", "id|user_id"]);
                                arr.push(["key_val", new_chef.id + "|" + that.user_id]);
                                // db添加
                                do_ajax("../db/update_record.php?" + build_url_params(arr), function (text) {
                                    // ui添加
                                    that.load_chefs(that.user_id);
                                });
                                layer.close(index);
                            },
                            title: '修改',
                            maxmin: false,
                            area: ['530px', '490px'],
                            content: url
                        });
                    },
                    _build_chef_ultimate_params: function (name) {
                        var chef = find_chef(name);
                        if (chef) {
                            var s = "&ultimate_skill_id=" + chef.ultimateSkill;
                            return s;
                        }
                        return "";
                    },
                    _build_chef_params: function (name) {
                        var chef = find_chef(name);
                        if (chef) {
                            var s = "";
                            s += "name=" + chef.name;
                            s += "&id=" + chef.chefId;
                            s += "&stirfry=" + chef.stirfry;
                            s += "&bake=" + chef.bake;
                            s += "&boil=" + chef.boil;
                            s += "&steam=" + chef.steam;
                            s += "&fry=" + chef.fry;
                            s += "&knife=" + chef.knife;
                            s += "&meat=" + chef.meat;
                            s += "&veg=" + chef.veg;
                            s += "&fish=" + chef.fish;
                            s += "&creation=" + chef.creation;
                            s += "&rarity=" + chef.rarity;
                            s += "&skill_id=" + chef.skill;
                            //s += "&ultimate_skill_id="+chefs[i].ultimateSkill;
                            s += "&level=3";
                            return s;
                        }
                        return "";
                    }
                }
            }
        );

    </script>
</body>

</html>