<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
        爆炒江湖
    </title>
    <!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
    <!--script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <link rel="stylesheet" href="bcjh.css" /-->
    <script src="../jquery/jquery-3.5.1.min.js"></script>
    <script src="../layer/layer.js"></script>
    <script type="text/javascript" src="../common.js">
    </script>
    <script type="text/javascript" src="bcjh_data.js">
    </script>
    <script type="text/javascript" src="bcjh_common.js">
    </script>
    <script type="text/javascript" src="bcjh_skill.js">
    </script>

    <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>

    <script type="text/javascript" src="vue_components.js">
    </script>
    <style type="text/css">
        .chef-emphasize {
            background-color: #CCFFCC;
        }

        .emphasize-font {
            color: red;
        }

        .el-input--mini .el-input__inner {
            height: 40px;
            line-height: 40px;
        }
    </style>
</head>

<body>
    <div id="bcjh">
        <el-button @click="add_chef()" type="text">添加厨师</el-button>
        <el-link type="primary" :underline="false" href="index.html">返回</el-link>
        <login-panel login-ref="../login.html" v-on:give-user="load_chefs"></login-panel>

        <el-row>
            <el-col :span="4">
                <el-input v-model="search" size="mini" placeholder="输入关键字搜索" />
            </el-col>
            <el-col :span="4">
                <el-input v-model="search_tech" size="mini" placeholder="搜索技能" />
            </el-col>
            <el-col :span="4">
                <!--<el-input size="mini" placeholder="装备测试" v-model="selected_equip" />-->
                <el-select v-model="selected_equip" filterable placeholder="装备测试">
                    <el-option v-for="item in equips" :key="item.equipId" :label="item.galleryId + item.name"
                        :value="item.name">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="8">
                <el-button @click="statistic_recipes()">推荐池</el-button>
                <el-button @click="statistic_recipes5()">5星池</el-button>
                <el-button @click="statistic_chefs()">包含关系</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-checkbox-group v-model="selectedPartialChefs" :max="2">
                <el-checkbox v-for="chef in partialChefs" :label="chef">{{chef.name}}</el-checkbox>
            </el-checkbox-group>
        </el-row>
        <el-table :data="filter_chefs.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="width: 100%"
            :default-sort="{prop: 'id', order: 'ascending'}" @sort-change="sortChange" @filter-change="filterChange">
            <el-table-column prop="id" label="序号" width="80" sortable>
            </el-table-column>
            <el-table-column prop="name" label="名称" width="100" sortable>
            </el-table-column>
            <el-table-column prop="level" label="级别" width="80" sortable>
            </el-table-column>
            <el-table-column prop="rarity" label="稀有度" width="100" sortable
                :filters="[{ text: '5', value: 5 }, { text: '4', value: 4 }, { text: '3', value: 3 }, { text: '2', value: 2 }, { text: '1', value: 1 }]"
                column-key='rarity'>
            </el-table-column>
            <el-table-column prop="stirfry" label="炒" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="steam" label="蒸" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="knife" label="切" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="fry" label="炸" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="boil" label="煮" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="bake" label="烤" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="fish" label="鱼" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="creation" label="面" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="veg" label="菜" :width="p_width" sortable>
            </el-table-column>
            <el-table-column prop="meat" label="肉" :width="p_width" sortable>
            </el-table-column>
            <el-table-column label="技能">
                <template slot-scope="scope">{{ scope.row.skill_name() }}</template>
            </el-table-column>
            <el-table-column label="终极技能">
                <template slot-scope="scope">
                    <div style="white-space: pre-wrap;"
                        v-bind:class="{'chef-emphasize':(scope.row.ultimate_skill == null) && (scope.row.ultimate_skill_conditions.length>=3), 'emphasize-font':(scope.row.ultimate_skill == null) && (scope.row.ultimate_skill_conditions.length<3) && (scope.row.ultimate_skill_conditions2 != null) && scope.row.ultimate_skill_conditions2.length>=3}">{{scope.row.ultimate_skill_name()}}</div>
                </template>
            </el-table-column>
            <el-table-column label="技能差距">
                <template slot-scope="scope">
                    <div style="white-space: pre-wrap;">{{scope.row.ultimate_skill_name3()}}</div>
                </template>
            </el-table-column>
            <el-table-column label="备选池">
                <template slot-scope="scope">
                    <div style="white-space: pre-wrap;">{{ultimate_skill_name4(scope.row)}}</div>
                </template>
            </el-table-column>
            <el-table-column label="装备">
                <template slot-scope="scope">{{ scope.row.equip_name() }}</template>
            </el-table-column>
            <el-table-column fixed="right" label="编辑" width="100">
                <template slot-scope="scope">
                    <div>
                        <el-button @click="edit_chef(scope.row)" type="text" style="padding: 0px;">修改</el-button>
                    </div>
                    <div>
                        <el-button v-if="scope.row.level<3" @click="set_max_level(scope.row)" type="text"
                            style="padding: 0px;">满级</el-button>
                    </div>
                    <div>
                        <el-button v-if="scope.row.ultimate_skill == null" @click="set_ultimate_skill(scope.row)"
                            type="text" style="padding: 0px;">终极技能</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <el-row>
            <el-col :span="12">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="filter_chefs.length">
                </el-pagination>
            </el-col>
        </el-row>


        <!--
        <div>数量: {{chefs.length}}</div>
        <table id="tb2">
            <tr>
                <td>ID</td>
                <td>名称</td>
                <td>级别</td>
                <td>稀有度</td>
                <td>炒</td>
                <td>蒸</td>
                <td>切</td>
                <td>炸</td>
                <td>煮</td>
                <td>烤</td>
                <td>鱼</td>
                <td>面</td>
                <td>菜</td>
                <td>肉</td>
                <td>技能</td>
                <td>终极技能</td>
                <td>装备</td>
                <td>编辑</td>
            </tr>
            <tr v-for="chef in chefs">
                <td>{{chef.id}}</td>
                <td>{{chef.name}}</td>
                <td>{{chef.level}}</td>
                <td>{{chef.rarity}}</td>
                <td>{{chef.stirfry}}</td>
                <td>{{chef.steam}}</td>
                <td>{{chef.knife}}</td>
                <td>{{chef.fry}}</td>
                <td>{{chef.boil}}</td>
                <td>{{chef.bake}}</td>
                <td>{{chef.fish}}</td>
                <td>{{chef.creation}}</td>
                <td>{{chef.veg}}</td>
                <td>{{chef.meat}}</td>
                <td>{{chef.skill_name()}}</td>
                <td style="white-space: pre-wrap;"
                    v-bind:class="{'chef-emphasize':(chef.ultimate_skill == null) && (chef.ultimate_skill_conditions.length>=3), 'emphasize-font':(chef.ultimate_skill == null) && (chef.ultimate_skill_conditions.length<3) && (chef.ultimate_skill_conditions2 != null) && chef.ultimate_skill_conditions2.length>=3}">
                    {{chef.ultimate_skill_name()}}</td>
                <td>{{chef.equip_name()}}</td>
                <td>
                    <a v-on:click="edit_chef(chef)" class="link">修改</a>
                    <a v-if="chef.level<3" v-on:click="set_max_level(chef)" class="link">满级</a>
                    <a v-if="chef.ultimate_skill == null" v-on:click="set_ultimate_skill(chef)" class="link">终极技能</a>
                </td>
            </tr>
        </table>
        -->
    </div>
    <script type="text/javascript">
        var app = new Vue(
            {
                el: '#bcjh',
                data: {
                    chefs: [],
                    filter_chefs: [],
                    recipes: null,
                    sorter: null,
                    selected_equip: "",
                    equips: g_bcjh_data.equips,
                    selectedPartialChefs: [],
                    partialChefs: [],

                    currentPage: 1,
                    pageSize: 10,
                    search: '',
                    search_tech: '',
                    type_filter: [],
                    sort_arg: null,
                    p_width: 60,
                },
                created: function () {
                },
                watch: {
                    selected_equip: function (val) {
                        this.refresh_ultimate_skill_conditions2();
                    },
                    selectedPartialChefs: {
                        deep: true,
                        immediate: true,
                        handler: function (val, oldVal) {
                            if (val && oldVal && val.length == oldVal.length)
                                return;
                            this.refresh_ultimate_skill_conditions2();
                        }
                    },
                    search: function (newValue, oldValue) {
                        if (newValue != oldValue) {
                            this.gen_filter_chefs();
                        }
                    },
                    search_tech: function (newValue, oldValue) {
                        if (newValue != oldValue) {
                            this.gen_filter_chefs();
                        }
                    },
                },
                methods: {
                    /*get_selected_partial_chefs(){
                        let result = [];
                        this.selectedPartialChefs.forEach(name => {
                            let chef = find_chef(name);
                            if(chef)
                                result.push(chef);
                        });
                        return result;
                    },*/
                    refresh_ultimate_skill_conditions2() {
                        let equip_name = this.selected_equip;
                        var equip = get_equip_by_name(equip_name);
                        var new_chefs = JSON.parse(JSON.stringify(this.chefs));
                        for (let i = 0; i < new_chefs.length; i++) {
                            const chef = new_chefs[i];
                            if (equip)
                                chef.equip_id = equip.equipId;
                            for (let j = 0; j < g_cook_types.length; j++) {
                                const type = g_cook_types[j];
                                chef[type] = chef[type + "_raw"];
                            }
                            for (let j = 0; j < g_material_types.length; j++) {
                                const type = g_material_types[j];
                                chef[type] = chef[type + "_raw"];
                            }
                        }
                        //let selected_partial_chefs = this.get_selected_partial_chefs();
                        init_chefs(new_chefs, this.selectedPartialChefs);
                        for (let i = 0; i < this.chefs.length; i++) {
                            const chef = this.chefs[i];
                            var list = this.get_ultimate_skill_conditions(new_chefs[i], this.recipes);
                            chef.ultimate_skill_conditions2 = list[0];
                            chef.ultimate_skill_conditions3 = list[1];
                            let list2 = this.get_ultimate_skill_conditions(new_chefs[i], g_bcjh_data.recipes, true);
                            this.drop_repeat_recipe(list2[2], list[0]);
                            chef.ultimate_skill_conditions4 = list2[2];
                            for (let j = 0; j < g_cook_types.length; j++) {
                                const type = g_cook_types[j];
                                chef[type] = new_chefs[i][type];
                            }
                            for (let j = 0; j < g_material_types.length; j++) {
                                const type = g_material_types[j];
                                chef[type] = new_chefs[i][type];
                            }
                        }
                    },
                    gen_filter_chefs: function () {
                        if (this.search == '' && this.type_filter.length == 0 && this.search_tech == '')
                            this.filter_chefs = this.chefs;
                        else {
                            this.filter_chefs = [];
                            for (let i = 0; i < this.chefs.length; i++) {
                                const chef = this.chefs[i];
                                if (this.search != '' && chef.name.indexOf(this.search) == -1)
                                    continue;
                                let ultimate_skill_name = chef.ultimate_skill_name();
                                let skill_name = chef.skill_name();
                                if (this.search_tech != '' && ultimate_skill_name.indexOf(this.search_tech) == -1 && skill_name.indexOf(this.search_tech) == -1)
                                    continue;
                                if (this.type_filter.length > 0) {
                                    var bFilter = false;
                                    for (let j = 0; j < this.type_filter.length; j++) {
                                        const val = this.type_filter[j];
                                        if (chef.rarity == val) {
                                            bFilter = true;
                                            break;
                                        }
                                    }
                                    if (!bFilter)
                                        continue;
                                }
                                this.filter_chefs.push(chef);
                            }
                        }
                        if (this.sort_arg)
                            this.sortChange(this.sort_arg);
                        var last_page = Math.max(Math.ceil(this.filter_chefs.length / this.pagesize), 1);
                        if (this.currentPage > last_page)
                            this.currentPage = last_page;
                    },
                    load_chefs: function (user_id) {
                        this.user_id = user_id;
                        var that = this;
                        do_ajax("../db/get_records.php?table_name=bcjh_chefs&user_id=" + user_id, function (text) {
                            var my_chefs = JSON.parse(text);
                            init_skills(g_bcjh_data.skills);
                            init_chefs(my_chefs);
                            that.partialChefs = get_partial_chefs(my_chefs);
                            do_ajax("../db/get_records.php?table_name=bcjh_recipes&user_id=" + user_id, function (text) {
                                var my_recipes = JSON.parse(text);
                                var new_recipes = build_recipes(g_bcjh_data.recipes, my_recipes, my_chefs);
                                that.chefs = my_chefs;
                                that.recipes = new_recipes;
                                that.init_ultimate_skill_conditions(new_recipes);
                                that.gen_filter_chefs();
                            });
                        });
                    },
                    get_quest(quest_id) {
                        for (const quest of g_bcjh_data.quests) {
                            if (quest.questId == quest_id)
                                return quest;
                        }
                        return null;
                    },
                    get_ultimate_skill_conditions: function (chef, new_recipes, check_all) {
                        var origin = this.get_origin_chef_by_id(chef.id);
                        let quest_id = origin.ultimateGoal[0];
                        let quest = this.get_quest(quest_id);
                        if (quest == null)
                            return;
                        var cook = quest.conditions[0].skill;
                        let rarity = quest.conditions[0].rarity;
                        var list = [];
                        let ulist = [];
                        let nlist = [];
                        for (let j = 0; j < new_recipes.length; j++) {
                            const recipe = new_recipes[j];
                            if (recipe.rarity == rarity && recipe[cook] > 0) {
                                let diffs = calc_rate_diff(recipe, chef, 4);
                                if (diffs.length == 0) {
                                    list.push(recipe.name);
                                    nlist.push({name:recipe.name, origin: recipe.origin});
                                    if (!check_all && list.length >= 3)
                                        break;
                                }
                                else {
                                    let total = 0;
                                    diffs.forEach(diff => {
                                        total += diff.diff;
                                    });
                                    ulist.push({ "recipe": recipe.name, "diffs": diffs, "total": total });
                                }
                                // var rate = calc_rate(recipe, chef);
                                // if (rate >= 4) {
                                //     list.push(recipe.name);
                                //     if (list.length >= 3)
                                //         break;
                                // }
                            }
                        }
                        ulist.sort((a, b) => {
                            return a.total - b.total;
                        });
                        return [list, ulist.slice(0, 3), nlist];
                    },
                    init_ultimate_skill_conditions: function (new_recipes) {
                        for (let i = 0; i < this.chefs.length; i++) {
                            const chef = this.chefs[i];
                            var list = this.get_ultimate_skill_conditions(chef, new_recipes);
                            chef.ultimate_skill_conditions = list[0];
                            chef.ultimate_skill_conditions3 = list[1];
                            let list2 = this.get_ultimate_skill_conditions(chef, g_bcjh_data.recipes, true);
                            this.drop_repeat_recipe(list2[2], list[0]);
                            chef.ultimate_skill_conditions4 = list2[2];
                        }
                    },
                    drop_repeat_recipe(recipes, drops) {
                        for (const name of drops) {
                            for (let i = 0; i < recipes.length; i++) {
                                const r = recipes[i];
                                if (r.name == name) {
                                    recipes.splice(i, 1);
                                    break;
                                }
                            }
                        }
                    },
                    ultimate_skill_name4(chef) {
                        if (chef.ultimate_skill == null) {
                            if (chef.ultimate_skill_conditions.length < 3 && (!chef.ultimate_skill_conditions2 || chef.ultimate_skill_conditions2.length < 3)) {
                                let result = [];
                                chef.ultimate_skill_conditions4.forEach(recipe => {
                                    result.push(recipe.name + "(" + recipe.origin + ")");
                                });

                                return result.join("\n");
                            }
                        }
                        return "";
                    },
                    statistic_recipes() {
                        let recipe_map = new Map;
                        for (const chef of this.chefs) {
                            if (chef.ultimate_skill == null) {
                                if (chef.ultimate_skill_conditions.length < 3 && (!chef.ultimate_skill_conditions2 || chef.ultimate_skill_conditions2.length < 3)) {
                                    chef.ultimate_skill_conditions4.forEach(recipe => {
                                        let slist = recipe.origin.split("<br>");
                                        slist.forEach(str => {
                                            let cnt = recipe_map.has(str) ? recipe_map.get(str) : 0;
                                            recipe_map.set(str, cnt + 1);
                                        });
                                    });
                                }
                            }
                        }
                        var arr = [];
                        var sarr = Array.from(recipe_map);
                        sarr.sort((a, b) => { return b[1] - a[1]; });
                        sarr.forEach(item => {
                            arr.push(item[0] + "(" + item[1] + ")");
                        });
                        this.$alert(arr.join("<br>"), '推荐池', {
                            confirmButtonText: '确定',
                            dangerouslyUseHTMLString: true,
                        });
                    },
                    statistic_recipes5() {
                        let recipe_map = new Map;
                        for (const chef of this.chefs) {
                            if (chef.ultimate_skill == null) {
                                let ochef = find_chef(chef.name);
                                if(ochef && ochef.ultimateGoal[2] == 3080) {
                                    for (const recipe of g_bcjh_data.recipes) {
                                        if (recipe.rarity == 5) {
                                            var rate = calc_rate(recipe, chef);
                                            if (rate >= 4) {
                                                //let slist = recipe.origin.split("<br>");
                                                let str = recipe.name;
                                                let cnt = recipe_map.has(str) ? recipe_map.get(str).cnt : 0;
                                                recipe_map.set(str, {origin: recipe.origin, cnt:cnt + 1});
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        var arr = [];
                        var sarr = Array.from(recipe_map);
                        sarr.sort((a, b) => { return b[1].cnt - a[1].cnt; });
                        sarr.forEach(item => {
                            arr.push(item[0] + "(" + item[1].cnt + "):"+item[1].origin);
                        });
                        this.$alert(arr.join("<br>"), '推荐池', {
                            confirmButtonText: '确定',
                            dangerouslyUseHTMLString: true,
                        });

                    },
                    compare_chef(chef1, chef2)
                    {
                        let nResult = 0;
                        for (let i = 0; i < g_cook_types.length; i++) {
                            const type = g_cook_types[i]+"_raw";
                            if(chef1[type] - chef2[type] > 0)
                            {
                                if(nResult < 0)
                                    return 0;
                                nResult = 1;
                            } 
                            else if(chef1[type] - chef2[type] < 0)
                            {
                                if(nResult > 0)
                                    return 0;
                                nResult = -1;
                            }
                        }
                        return nResult == 0 ? 1 : nResult;
                    },
                    insert_chef_node(node, chef_node){
                        let new_list = [];
                        //let chef_node = {chef:chef, childs:[]};
                        let bInsert = false;
                        for (let child of node.childs) {
                            let n = this.compare_chef(chef_node.chef, child.chef);
                            if(n>0)
                                chef_node.childs.push(child);
                            else 
                            {
                                if (n < 0 && !bInsert)
                                {
                                    this.insert_chef_node(child, chef_node);
                                    bInsert = true;
                                }
                                new_list.push(child);
                            }
                        }
                        if(!bInsert)
                            new_list.push(chef_node);
                        node.childs = new_list;
                    },
                    node2array(node, arr)
                    {
                        arr.push(node.chef.name);
                        for(let chef_node of node.childs)
                        {
                            this.node2array(chef_node, arr);
                        }
                    },
                    statistic_chefs() {
                        let root = {chef:null, childs:[]};
                        for (const chef of this.chefs) {
                            this.insert_chef_node(root, {chef:chef, childs:[]});
                        }
                        var arr = [];
                        for (const chef_node of root.childs) {
                            let arr1 = [];
                            this.node2array(chef_node, arr1);
                            arr.push(arr1.join(","));
                        }
                        this.$alert(arr.join("|"), '厨师包含关系', {
                            confirmButtonText: '确定',
                            dangerouslyUseHTMLString: true,
                        });

                    },
                    get_origin_chef_by_id: function (id) {
                        for (let i = 0; i < g_bcjh_data.chefs.length; i++) {
                            const chef = g_bcjh_data.chefs[i];
                            if (chef.chefId == id)
                                return chef;
                        }
                        return null;
                    },
                    /*
                    get_chef_max_cook: function (chef) {
                        var cook = g_cook_types[0];
                        for (let i = 1; i < g_cook_types.length; i++) {
                            const cook_type = g_cook_types[i];
                            if (chef[cook_type] > chef[cook]) {
                                cook = cook_type;
                            }
                        }
                        return cook;
                    },
                    */
                    set_max_level: function (chef) {
                        var that = this;
                        do_ajax('../db/update_record.php?table_name=bcjh_chefs&primary_key=id|user_id&key_val=' + chef.id + "|" + that.user_id + "&" + this._build_chef_params(chef.name), function (text) {
                            that.load_chefs(that.user_id);
                        });
                    },
                    set_ultimate_skill: function (chef) {
                        var that = this;
                        do_ajax('../db/update_record.php?table_name=bcjh_chefs&primary_key=id|user_id&key_val=' + chef.id + "|" + that.user_id + "&" + this._build_chef_ultimate_params(chef.name), function (text) {
                            that.load_chefs(that.user_id);
                        });
                    },
                    add_chef: function () {
                        var that = this;
                        layer.prompt({ offset: '200px' },
                            function (val, index) {
                                //layer.msg('得到了' + val);
                                var chef = find_chef(val);
                                if (chef == null) {
                                    layer.msg("未找到厨师[" + val + "]");
                                    return;
                                }
                                layer.close(index);

                                var clone_chef = JSON.parse(JSON.stringify(chef));
                                clone_chef.level = 3;
                                clone_chef.skill_id = clone_chef.skill;
                                clone_chef.ultimate_skill_id = -1;
                                clone_chef.equip_id = -1;
                                clone_chef.id = clone_chef.chefId;
                                var url = "edit_chef.html?" + build_url_params([["record", JSON.stringify(clone_chef).replace(/\"/g, "'")]]);
                                layer.open({
                                    type: 2,
                                    btn: ['确定', '取消'],
                                    yes: function (index, layero) {
                                        //按钮【按钮一】的回调
                                        var body = layer.getChildFrame('body', index);
                                        var doc = body[0].ownerDocument;
                                        var e = doc.getElementById("chef_json");
                                        var new_chef = JSON.parse(e.value);
                                        var arr = [];
                                        for (let i = 0; i < g_edit_chef_schemas.length; i++) {
                                            const item = g_edit_chef_schemas[i];
                                            var value = new_chef[item.name];
                                            if (value == -1)
                                                value = "NULL";
                                            arr.push([item.name, value]);
                                        }
                                        arr.push(["table_name", "bcjh_chefs"]);
                                        arr.push(["user_id", that.user_id]);
                                        arr.push(["rarity", new_chef.rarity]);
                                        arr.push(["id", new_chef.id]);
                                        // db添加
                                        do_ajax("../db/insert_record.php?" + build_url_params(arr), function (text) {
                                            if (isNaN(text)) {
                                                layer.alert(text);
                                                return;
                                            }
                                            // ui添加
                                            that.load_chefs(that.user_id);
                                        });
                                        layer.close(index);
                                    },
                                    title: '新增',
                                    maxmin: false,
                                    area: ['530px', '490px'],
                                    offset: '200px',
                                    content: url
                                });
                            });
                    },
                    edit_chef: function (chef) {
                        var that = this;

                        var clone_chef = JSON.parse(JSON.stringify(chef));
                        for (let i = 0; i < g_cook_types.length; i++) {
                            const cook = g_cook_types[i];
                            clone_chef[cook] = clone_chef[cook + "_raw"];
                        }
                        for (let j = 0; j < g_material_types.length; j++) {
                            const type = g_material_types[j];
                            clone_chef[type] = clone_chef[type + "_raw"];
                        }
                        if (clone_chef.skill_id == null)
                            clone_chef.skill_id = -1;
                        if (clone_chef.ultimate_skill_id == null)
                            clone_chef.ultimate_skill_id = -1;
                        if (clone_chef.equip_id == null)
                            clone_chef.equip_id = -1;
                        var url = "edit_chef.html?" + build_url_params([["record", JSON.stringify(clone_chef).replace(/\"/g, "'")]]);
                        layer.open({
                            type: 2,
                            btn: ['确定', '取消'],
                            yes: function (index, layero) {
                                //按钮【按钮一】的回调
                                var body = layer.getChildFrame('body', index);
                                var doc = body[0].ownerDocument;
                                var e = doc.getElementById("chef_json");
                                var new_chef = JSON.parse(e.value);
                                var arr = [];
                                for (let i = 0; i < g_edit_chef_schemas.length; i++) {
                                    const item = g_edit_chef_schemas[i];
                                    var value = new_chef[item.name];
                                    if (value == -1)
                                        value = "NULL";
                                    arr.push([item.name, value]);
                                }
                                arr.push(["rarity", new_chef.rarity]);
                                arr.push(["table_name", "bcjh_chefs"]);
                                arr.push(["primary_key", "id|user_id"]);
                                arr.push(["key_val", new_chef.id + "|" + that.user_id]);
                                // db添加
                                do_ajax("../db/update_record.php?" + build_url_params(arr), function (text) {
                                    // ui添加
                                    that.load_chefs(that.user_id);
                                });
                                layer.close(index);
                            },
                            title: '修改',
                            maxmin: false,
                            area: ['530px', '490px'],
                            offset: '200px',
                            content: url
                        });
                    },
                    _build_chef_ultimate_params: function (name) {
                        var chef = find_chef(name);
                        if (chef) {
                            var s = "&ultimate_skill_id=" + chef.ultimateSkill;
                            return s;
                        }
                        return "";
                    },
                    _build_chef_params: function (name) {
                        var chef = find_chef(name);
                        if (chef) {
                            var s = "";
                            s += "name=" + chef.name;
                            s += "&id=" + chef.chefId;
                            s += "&stirfry=" + chef.stirfry;
                            s += "&bake=" + chef.bake;
                            s += "&boil=" + chef.boil;
                            s += "&steam=" + chef.steam;
                            s += "&fry=" + chef.fry;
                            s += "&knife=" + chef.knife;
                            s += "&meat=" + chef.meat;
                            s += "&veg=" + chef.veg;
                            s += "&fish=" + chef.fish;
                            s += "&creation=" + chef.creation;
                            s += "&rarity=" + chef.rarity;
                            s += "&skill_id=" + chef.skill;
                            //s += "&ultimate_skill_id="+chefs[i].ultimateSkill;
                            s += "&level=3";
                            return s;
                        }
                        return "";
                    },
                    handleCurrentChange: function (currentPage) {
                        this.currentPage = currentPage;
                    },
                    handleSizeChange: function (pageSize) {
                        this.pagesize = pageSize;
                    },
                    sortChange: function (arg) {
                        if (arg.column) {
                            this.sort_arg = arg;
                            //let sortTableData = cloneDeep(this.tableData);
                            if (arg.order === 'descending') {
                                if (arg.prop == null || arg.prop === 'name') {
                                    this.filter_chefs.sort(this.sortByName(arg.prop, true));
                                } else {
                                    this.filter_chefs.sort(this.sortByProp(arg.prop, true));
                                }
                            } else {
                                if (arg.prop == null || arg.prop === 'name') {
                                    this.filter_chefs.sort(this.sortByName(arg.prop, false));
                                } else {
                                    this.filter_chefs.sort(this.sortByProp(arg.prop, false));
                                }
                            }
                            //                    this.tableData = sortTableData;
                        }
                        /*else {
                            this.tableData = this.jobListRaw;
                        }
                        this.page = 1;*/
                    },
                    sortByProp: function (sortKey, order) {
                        if (order) {
                            return (a, b) => {
                                return b[sortKey] - a[sortKey];
                            };
                        } else {
                            return (a, b) => {
                                return a[sortKey] - b[sortKey];
                            };
                        }
                    },
                    // 根据名称对表格进行排序
                    sortByName: function (sortKey, order) {
                        if (order) {
                            return (a, b) => {
                                a[sortKey] = a[sortKey] == null ? '' : a[sortKey];
                                b[sortKey] = b[sortKey] == null ? '' : b[sortKey];
                                return b[sortKey].localeCompare(a[sortKey]);
                            };
                        } else {
                            return (a, b) => {
                                a[sortKey] = a[sortKey] == null ? '' : a[sortKey];
                                b[sortKey] = b[sortKey] == null ? '' : b[sortKey];
                                return a[sortKey].localeCompare(b[sortKey]);
                            };
                        }
                    },
                    filterChange: function (filters, e) {
                        if (filters['rarity']) {
                            this.type_filter = filters['rarity'];
                            this.gen_filter_chefs();
                        }
                    },
                }
            }
        );

    </script>
</body>

</html>