body, table {
	font-size: 14px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:first-child {
    background-color: rgb(250, 250, 250);
}

tr:hover {
    background-color: rgb(250, 250, 250);;
}


td {
	border: 1px solid black;
}

.no-show {
	display: none;
}

.chef-emphasize {
	background-color: #CCFFCC;
}

.edit-table {
	width: 100%;
	border-collapse: initial;
}

.edit-table td {
	border: 0px;
}

.edit-table td:nth-child(odd) {
    text-align: right;
}

.edit-table td:nth-child(even) {
    text-align: left;
}

.link {
	cursor: pointer;
	text-decoration:underline;
	color: rgb(45, 175, 200);
}

.link:hover {
    color: rgb(82, 197, 217);
}